# Framework web
fastapi==0.116.1
uvicorn[standard]==0.35.0

# Base de datos
psycopg2-binary==2.9.10

# Configuración
python-dotenv==1.1.1

# Mensajería
confluent-kafka==2.11.1

# Data science
pandas==2.1.4
numpy==1.26.4
scikit-learn==1.7.1

# Machine Learning
tensorflow==2.20.0
joblib==1.5.2

# Validación de datos
pydantic==2.11.7

# Testing (opcional)
pytest==8.2.2
pytest-asyncio==0.24.0
httpx==0.28.1

# Desarrollo (opcional)
black==25.1.0
flake8==7.0.0
mypy==1.12.0
